.container{
    width: 100%;
    background-color: #fff;
    display: flex;
}


.leftSide{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;

}

.rightSide{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }

}